*{
    font-family: monospace;
    font-size: 24px;
}
body{
    display: flex;
    justify-content: center;
    align-items: center;
}
.tab:hover{
    color: black;
    background: linear-gradient(300deg,rgb(206, 161, 250),rgb(129, 236, 237),rgb(179, 255, 0));
}
.adds{
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 5px;
}
.addForm{
    display: flex;
    flex-direction: column;
    gap: 10px;
    justify-content: center;
    width: 25%;
    height: 550px;
    align-items: center;
    border: none;
    padding: 10px 5px 0px 5px;
    border-radius: 10px;
    margin: 50px auto;
    background: linear-gradient(300deg,rgb(156, 58, 255),rgb(91, 21, 255),rgb(48, 138, 255));
    color: beige;
    box-shadow: 0px 0px 50px 1px blueviolet;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
}
.inp{
    border: none;
    outline: none;
    padding: 5px;
    border-radius: 5px;
    width: 80%;
}
.submit{
    border: none;
    border-radius: 5px;
    padding: 5px 10px;
    margin-top: 50px;
}
table{
    margin: auto;
    width: 70%;
    margin-top: 50px;
    padding: 5px;
    border-collapse: collapse;
    margin-bottom: 50px;
}
.ths{
    padding: 5px 10px;
    border-radius: 5px;
}
.tds{
    text-align: center;
    padding: 5px 5px;
    border-radius: 5px;
}
.btns{
    background-color: white;
    border: none;
}
.btns:hover{
    background-color: #764ba2;
    border-radius: 5px;
}
table {
  border-collapse: collapse;
  width: 55%;
  border-radius: 12px;
  overflow: hidden;
}
thead {
  background: linear-gradient(135deg, #667eea, #764ba2);
  color: white;
}
th, td {
  padding: 14px;
}
tr {
  border-bottom: 1px solid #eee;
}
@keyframes{

}