.addForm{
    border: 1px solid gray;
    padding: 10px;
    display: flex;
    width: 170px;
    height: 50px;
    flex-wrap: wrap;
    gap: 10px;
    border-radius: 5px;
}
input{
    border: none;
    border-bottom: 2px solid rgb(0, 149, 255);
    border-radius: 5px;
    outline: none;
}
#status{
    border: 1px solid rgb(255, 0, 21);
    outline: none;
    border-radius: 5px;
    color: red;
}
.submit{
    margin-left: 20px;
    border: 1px solid rgb(0, 132, 255);
    outline: none;
    border-radius: 5px;
    color: rgb(0, 132, 255);
}
.opp{
    color: black;
    font-family: Arial, Helvetica, sans-serif;
    border-radius: 5px;
    border: 1px solid gray;
    background-color: rgb(0, 255, 247);
}