*{
    margin: 0;
    padding: 0;
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
}
form{
    border: 1px solid rgba(128, 128, 128, 0.174);
    width: 20%;
    display: flex;
    flex-direction: column;
    align-content: center;
    justify-content: center;
    margin: auto;
    margin-top: 50px;
    text-align: center;
    gap: 20px;
    padding: 40px 10px;
    border-radius: 5px;
    box-shadow: 0px 0px 10px 1px rgba(255, 149, 0, 0.829);
}
.inp{
    width: 80%;
    margin: auto;
    padding: 5px;
    outline: none;
    border: 1px solid rgba(226, 43, 43, 0);
    border-radius: 5px;
    box-shadow: 0px 0px 10px 1px rgba(255, 149, 0, 0.829);
}
.button{
    width: 20%;
    padding: 5px;
    margin: auto;
    background-color: white;
    border: none;
    border-radius: 5px;
    box-shadow: 0px 0px 10px 1px rgba(255, 51, 0, 0.829);
    color: rgba(255, 51, 0, 0.829);
}
.button:hover{
    box-shadow: 0px 0px 10px 1px rgba(0, 255, 8, 0.829);
    color: rgba(9, 255, 0, 0.829);
}

table{
    border: 1px solid rgba(0, 128, 0, 0.47);
    box-shadow: 0px 0px 10px 1px green;
    border-radius: 5px;
    padding: 10px;
    margin: auto;
    margin-top: 100px;
    width: 60%;
}
th{
    background-color: black;
    color: white;
    border: 1px solid rgba(128, 128, 128, 0);
    border-radius: 5px;
    padding: 3px;
}
td{
    padding: 10px;
    text-align: center;
}